<div style="text-align:center">
    <h1>Print ESP/POS commands from Javascript</h1>
    <hr />
    <label class="checkbox">
            <input type="checkbox" id="useDefaultPrinter" ng-checked="isDefaultPrinterSelected" /> <strong>Print to Default printer</strong>
        </label>
    <p>or...</p>
    <div id="installedPrinters">
        <label for="installedPrinterName">Select an installed Printer:</label>
        <select name="printer" id="printer" [(ngModel)]="selectedPrinter">
                    <option disabled [ngValue]="undefined">Select printer</option>
                    <option *ngFor="let printer of printers" [ngValue]="printer">{{ printer }}</option>
                </select>
    </div>
    <br /><br />
    <button class="btn btn-sucess" (click)="doPrint()">Print Now...</button>
</div>